@import "../vars";
@import "../mixins";

.cars {
  h2 {
    text-align: center;
    margin-bottom: 80px;
  }

  .cars__wrapper {
    .cars__card {
      margin-bottom: 75px;
      padding: 70px 0;
      position: relative;

      &:nth-child(odd) {
        &:after {
          content: '';
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          width: 72.7%;
          height: 100%;
          background: url("../img/car-logo-left.png") no-repeat left top, #fff;
        }
      }

      &:nth-child(even) {
        &:after {
          content: '';
          position: absolute;
          z-index: -1;
          top: 0;
          right: 0;
          width: 72.7%;
          height: 100%;
          background: url("../img/car-logo-right.png") no-repeat right top, #fff;
        }

        .card__wrapper {
          flex-direction: row-reverse;

          .card__text {
            margin: 0 0 0 85px;
          }
        }
      }

      .card__wrapper {
        display: flex;

        .card__text {
          flex: 0 0 480px;
          margin: 0 85px 0 0;

          h3 {
            margin-bottom: 20px;
          }

          p {
            margin-bottom: 20px;
          }

          ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;

            li {
              p {
                font-size: 22px;
                line-height: 31px;
                font-weight: 700;
                margin-bottom: 5px;
                color: #4A4A49;
              }

              span {
                color: #C4C4C4;
                font-size: 14px;
              }
            }
          }

          div {
            display: flex;
            justify-content: space-between;

            a {
              &.btn {
                @include btn(211px);
              }

              &.btn-tag {
                box-sizing: border-box;
                display: flex;
                align-items: center;
                margin: 0 auto;
                text-decoration: none;
                color: #0462AF;
                border-bottom: 2px solid #0462AF;
                transition: all .4s ease;

                &:hover {
                  transform: scale(1.2);
                }
              }
            }
          }
        }

        .card__img {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
          }
        }
      }

      .popup-prices.popup-prices--active {
        display: block;

        .popup-prices__wrapper {
          width: 68%;
          position: fixed;
          left: 16%;
          top: 15%;
          background: white;
          box-sizing: border-box;
          padding: 50px 60px;
          z-index: 20;

          .close-popup {
            position: absolute;
            right: 3%;
            top: 3%;
            width: 50px;
            height: 50px;

            &:hover {
              cursor: pointer;
            }

            path {
              fill: black;
            }
          }

          h3 {
            text-align: center;
            margin-bottom: 33px;
            color: #4A4A49;
          }

          table {
            border-collapse: collapse;
            border: 1px solid #C4C4C4;
            width: 100%;
            margin-bottom: 30px;

            tr {
              display: flex;
              border: 1px solid #C4C4C4;

              th {
                display: flex;
                justify-content: center;
                border-left: 1px solid #C4C4C4;
                border-right: 1px solid #C4C4C4;
                width: 50%;
                font-weight: 600;
                padding: 15px;

                &:first-child {
                  border-left: none;
                }

                &:last-child {
                  border-right: none;
                }
              }

              td {
                display: flex;
                justify-content: center;
                border-left: 1px solid #C4C4C4;
                border-right: 1px solid #C4C4C4;
                width: 33.33333%;
                padding: 7px;

                &:first-child {
                  border-left: none;
                }

                &:last-child {
                  border-right: none;
                }

                span {
                  font-weight: 600;
                  color: $secondary-color;
                }
              }
            }
          }
        }

        .btn {
          @include btn(100%)
        }
      }
    }
  }


  .popup-order.popup-order--active {
    display: block;

    .popup-order__wrapper {
      width: 40%;
      position: fixed;
      left: 30%;
      top: 5%;
      background: white;
      box-sizing: border-box;
      padding: 43px 65px 51px;
      z-index: 20;

      .close-popup {
        position: absolute;
        right: 3%;
        top: 3%;
        width: 50px;
        height: 50px;

        &:hover {
          cursor: pointer;
        }

        path {
          fill: black;
        }
      }

      h3 {
        text-align: center;
        margin-bottom: 45px;
        color: #4A4A49;
      }

      .order__form {
        label {
          font-size: 14px;

          input {
            width: 100%;
            display: block;
            border: none;
            border-bottom: 1px solid #6C6C6C;
            padding: 12px 0;
            margin-bottom: 33px;

            ::placeholder {
              font-size: 18px;
              color: #C4C4C4;
            }
          }
        }

        div:nth-child(3) {

          display: flex;
          justify-content: space-between;

          label {
            flex: 0 0 48%;
          }
        }

        div:nth-child(7) {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 66px;

          label {
            flex: 0 0 50%;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 20px;

            &:hover {
              cursor: pointer;
            }

            span {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 22px;
              height: 22px;
              border-radius: 4px;
              border: 2px solid #c4c4c4;
              margin-right: 15px;
            }

            input {
              display: none;
            }

            input[type="radio"]:checked + span {
              background: #04AF86;
              border: #04AF86;
            }
          }
        }

        button {
          @include btn(100%);
          font-size: 18px;
          border: none;
        }
      }
    }
  }
}